<a href="https://colab.research.google.com/github/so-yeon-hwang/DataScienceJobSalary/blob/main/%EC%86%8C%EC%9B%A8%EC%82%AC_%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = {'a':'123','b':'456','c':'789'}
numbers

{'a': '123', 'b': '456', 'c': '789'}

In [ ]:
friends = list(numbers.keys())
friends

['a', 'b', 'c']

In [ ]:
numbers['a']

'123'

In [ ]:
friends[0]

'a'

In [ ]:
friend = input('a,b,c중 친구를 고르세용 : ')


if friend in friends:
  print(numbers[friend]) # key를 통해 값을 가져와서 출력하자.
else:
  print('없는 친구댜옹 ')

a,b,c중 친구를 고르세용 : d
없는 친구댜옹

In [ ]:
# 주소록 딕셔너리 생성 (이름을 키로, 연락처를 값으로 저장)
address_book = {
    '친구1': '010-1111-1111',
    '친구2': '010-2222-2222',
    '친구3': '010-3333-3333',
}

# 전체 친구의 이름을 리스트로 추출하여 출력
friend_names = list(address_book.keys())
print("주소록에 등록된 친구들의 이름:")
for name in friend_names:
    print(name)

# 찾고자 하는 친구의 이름 입력 받기
search_name = input("검색할 친구의 이름을 입력하세요: ")

# 입력받은 이름으로 주소록에서 연락처 찾기
if search_name in address_book:
    contact = address_book[search_name]
    print(f"{search_name}의 연락처: {contact}")
else:
    print(f"{search_name}은(는) 주소록에 없습니다.")

주소록에 등록된 친구들의 이름:
친구1
친구2
친구3
검색할 친구의 이름을 입력하세요: 친구4
친구4은(는) 주소록에 없습니다.

In [ ]:
clubA = {'kim','park','hwang'}
clubB = {'park','lee','choi'}

clubC = clubA | clubB
clubC

{'choi', 'hwang', 'kim', 'lee', 'park'}

In [ ]:
clubA & clubB

{'park'}

In [ ]:
clubA - clubB

{'hwang', 'kim'}

In [ ]:
clubB - clubA

{'choi', 'lee'}

In [ ]:
clubA.add('kang')

In [ ]:
clubA

{'hwang', 'kang', 'kim', 'park'}

In [ ]:
clubB.remove('lee')

In [ ]:
clubB

{'choi', 'park'}

In [ ]:
clubA, clubB

({'hwang', 'kang', 'kim', 'park'}, {'choi', 'park'})

In [ ]:
pocket = ['스마트폰','교통카드','현금']

item = input('결제 수단 입력 : ')
price = 20000

if item in pocket and item =='현금':
  print('택시')
elif item in pocket and item =='교통카드':
  print('버스')
else:
  print('뚜벅')

결제 수단 입력 : 교통카드
버스

In [ ]:
# 중첩 선택문
# if 문 안에 또 다른 if문을 중첩하여 표현하는 중첩 선택문

import random
rsp = ['가위','바위','보']

com = random.choice(rsp)
player = input('가위, 바위, 보 중 하나를 선택하시오 : ')

if player == '가위':
  if com == '가위':
    result = '비김'
  elif com == '보':
    result = '이김'
  elif com == '바위':
    result = '짐'

elif player =='바위':
  if com == '가위':
    result = '이김'
  elif com == '보':
    result = '짐'
  elif com == '바위':
    result = '비김'

elif player =='보':
  if com == '가위':
    result = '짐'
  elif com == '보':
    result = '비김'
  elif com == '바위':
    result = '이김'

if player in rsp:
  print('나 : %s / 컴퓨터 : %s -> %s' %(player,com,result))

가위, 바위, 보 중 하나를 선택하시오 : 보
나 : 보 / 컴퓨터 : 가위 -> 짐

In [ ]:
import random

t = [1,2,3]
random.choice(t)

2

In [ ]:
# 파선아실
# 파라미터(매개변수), 선언 / 아규먼트(인수), 실행

def greet(lang):
  if lang == 1:
    print('hola')
  elif lang == 2:
    print('Bonjour')
  elif lang == 3:
    print('안녕하세요')
  else:
    print('지원하지 않습니다')

h = int(input('언어를 선택하세요 1EN / 2FR / 3KR : '))
greet(h)

언어를 선택하세요 1EN / 2FR / 3KR : 1
hola

# 보강영상(1) 조건문(선택문)

In [ ]:
# 문제1) 양수/음수/0 판별 if문

num = int(input('정수 입력 : '))

if num > 0 :
  print('%d은 양수' % num)
elif num < 0 :
  print('%d은 음수' % num)
else:
  print('%d은 0이다' % num)

정수 입력 : -3
-3은 음수

In [ ]:
# 문제2) 짝수 홀수 판별

num = int(input('정수 입력 : '))
if num % 2 == 0:
  print('%d은 짝수' % num)
else :
  print('%d은 홀수' % num)

정수 입력 : 3
3은 홀수

In [ ]:
# 실습문제 7

spot = input(' 한국or제주도or해외 중 장소를 입력하세요 : ')

if spot == '한국':
  print('배송비는 5000원')
elif spot =='제주도':
  print('배송비는 10000원')
elif spot =='해외':
  print('배송비는 20000원')

 한국or제주도or해외 중 장소를 입력하세요 : 해외
배송비는 20000원

In [ ]:
country = input('국가를 입력하시오')

if country == '한국':
  specific = input('지역을 입력하시오:')
  if specific == '제주':
    print('배송비는 10000원 입니다')
  else :
    print('배송비는 5000원 입니다')
else :
  print('배송비는 20000원 입니다')

국가를 입력하시오미국
배송비는 20000원 입니다

# 보강영상(2) 반복문

In [ ]:
## 문제 1 ##

i = 0
hap = 0

num1 = 0
num2 = 0
num3 = 0

num1 = int(input('시작값을 입력하세요 : '))
num2 = int(input('끝값을 입력하세요 : '))
num3 = int(input('증가값을 입력하세요 : '))

for i in range(num1,num2 + 1,num3):
  hap = hap + i

hap

시작값을 입력하세요 : 1
끝값을 입력하세요 : 10
증가값을 입력하세요 : 2

25

In [ ]:
i = 0
hap = 0

In [ ]:
i = num1

while i < num2 + 1 :
  hap = hap + i
  i = i + num3

print(hap)

25

In [ ]:
## 문제 2 ##

hap = 0
a = 0
b = 0

while True :
  a = input('첫 번째로 더할 수를 입력하시오')
  if a == '$': # b에서 $ 나오는 것은 어차피 다루지도 않음 ㅄ
    break

  b = int(input('두 번째로 더할 수를 입력하시오'))
  a = int(a)

  hap = a + b
  print('%d + %d = %d' %(a,b,hap))

print('$을 입력해 반복문을 탈출했습니다.')

첫 번째로 더할 수를 입력하시오3
두 번째로 더할 수를 입력하시오3
3 + 3 = 6
첫 번째로 더할 수를 입력하시오$
$을 입력해 반복문을 탈출했습니다.

In [ ]:
3

3

In [ ]:
## 문제 3 ##

hap = 0
i = 0

for i in range(1,101):
  hap += i
  if hap >= 1000 :
    break

print('1~100의 합계를 최초로 1000이 넘게 하는 숫자 %d' %i)

1~100의 합계를 최초로 1000이 넘게 하는 숫자 45

In [ ]:
###### 문제 3 정답 ######
hap = 0
i = 0

while i < 101 :
  hap = hap + i
  if hap >= 1000:
    break
  i = i + 1

print('1~100의 합계를 최초로 1000이 넘게 하는 숫자 %d' %i)

1~100의 합계를 최초로 1000이 넘게 하는 숫자 45

In [ ]:
i = 0
k = 0

for i in range(0,9,1):
  if i < 5:
    k = 0
    for k in range(0,4-i,1):
      print(' ',end ='')
    k = 0
    for k in range(0,i*2+1,1):
      print('\u2665',end='')
  print()

    ♥
   ♥♥♥
  ♥♥♥♥♥
 ♥♥♥♥♥♥♥
♥♥♥♥♥♥♥♥♥

In [ ]:
def dictionary_function(**para):
  for key in para.keys():
    print("%s 그룹은 %d 명의 멤버가 있습니다." % (key,para[key]))

# dictionary_function({'트와이스':9,'에스파':4,'레드벨벳':5,'러블리즈':8})
dictionary_function(트와이스 = 9, 에스파 = 4, 레드벨벳 = 5) ### 외우기

트와이스 그룹은 9 명의 멤버가 있습니다.
에스파 그룹은 4 명의 멤버가 있습니다.
레드벨벳 그룹은 5 명의 멤버가 있습니다.

In [ ]:
def member_num(**para):
  for i in para.keys():
    print('%s 그룹의 멤버 수는 %d 명 입니다' % (i,para[i]))

member_num(러블리즈 = 8 , 에스파 = 4, 르세라핌 = 5)

러블리즈 그룹의 멤버 수는 8 명 입니다
에스파 그룹의 멤버 수는 4 명 입니다
르세라핌 그룹의 멤버 수는 5 명 입니다

In [ ]:
def member_count(**para):
  for i in para.keys():
    print('%s 그룹의 멤버 수는 %d명 입니다' % (i,para[i]))

In [ ]:
member_count(에스파 = 4, 러블리즈 = 8)

에스파 그룹의 멤버 수는 4명 입니다
러블리즈 그룹의 멤버 수는 8명 입니다

In [ ]:
# 딕셔너리형태를 파라미터로 전달하는 함수 만들기
def member_count(**para):
  for i in para.keys():
    print('%s 그룹의 멤버 수는 %d 명 입니다' %(i,para[i]))

member_count(러블리즈=8,에스파=4) # 매개변수 형식 : 키 =

러블리즈 그룹의 멤버 수는 8 명 입니다
에스파 그룹의 멤버 수는 4 명 입니다

In [ ]:
def sum_nums(*para):
  sum = 0
  for i in para :
    sum = sum + i
  return sum

sum_nums(1,2,3,4)

10

In [ ]:
result = sum_nums(10,20,30,40,50,60,70,80,90,100)
print(result)

550

In [ ]:
import random

def getNumber():
  return random.randrange(1,46)

lotto = []
num = 0

print('로또 추첨을 시작합니다')
while True :
  num = getNumber()

  if lotto.count(num) == 0: # 로또 리스트에 num이 없다면
    lotto.append(num)

  if len(lotto) >= 6 :
    break

print('추첨된 로또 번호 >> ',end='')
lotto.sort()
for i in range(0,6):
  print('%d,' % lotto[i], end='')

로또 추첨을 시작합니다
추첨된 로또 번호 >> 6,19,29,32,39,44,

In [ ]:
import random

def lottery():
  return random.randrange(1,46)

lotto2 = []
num = 0

while True:
  num = lottery()

  if lotto2.count(num) == 0:
    lotto2.append(num)

  if len(lotto2) >= 6:
    break

lotto.sort()
print('로또 추첨 결과 :',end='')
for i in range(6):
  print(' %d ' % lotto2[i], end='')

로또 추첨 결과 : 31  25  20  9  39  6

In [ ]:
import random
def lotto_num():
  return random.randrange(1,46)

num = 0
numbers = []

while True:
  num = lotto_num()
  if numbers.count(num) == 0:
    numbers.append(num)
  if len(numbers) >= 6:
    break

print('로또 추첨을 시작합니다.')

numbers.sort()
print('추첨 번호 : ',end='')
for i in numbers:
  print(' %d '% i,end='')

로또 추첨을 시작합니다.
추첨 번호 :  8  14  20  22  31  40

In [ ]:
import random

def random_number():
  return random.randrange(1,46)

num = 0
lottery_list = []

while True:
  num = random_number()

  if lottery_list.count(num) == 0:
    lottery_list.append(num)
  if len(lottery_list) >= 6:
    break

print('===로또 추첨을 시작합니댜옹===')
print('결과 : ',end ='')

for i in lottery_list:
  print(' %d ' % i,end='')

===로또 추첨을 시작합니댜옹===
결과 :  28  9  27  19  10  36

In [ ]:
print(2^3) # 비트연산

1

In [ ]:
a = 16 + 4 + 2 + 1 # 23
b = 0 + 4 + 0 + 1 # 5
print("a & b =", a & b, " Binary =", bin(a & b))

a & b = 5  Binary = 0b101

In [ ]:
print("a | b =", a | b, " Binary =", bin(a | b))

a | b = 23  Binary = 0b10111

In [ ]:
~b

-6

In [ ]:
1<<2

4

In [ ]:
bin(-3)

'-0b11'

In [ ]:
-0b11

-3

In [ ]:
hap = 0
a = 0
b = 0

while True :
  a = input('더할 첫 번째 수를 입력하세요 : ')
  if a == '$' or b =='$' :
    break
  b = input('더할 두 번째 수를 입력하세요 : ')
  hap = int(a) + int(b)
  print('%d + %d = %d' %(int(a),int(b),int(hap)))

print("$을 입력해 반복문을 탈출했습니다")

더할 첫 번째 수를 입력하세요 : 1
더할 두 번째 수를 입력하세요 : 3
1 + 3 = 4
더할 첫 번째 수를 입력하세요 : 3
더할 두 번째 수를 입력하세요 : 5
3 + 5 = 8
더할 첫 번째 수를 입력하세요 : $
$을 입력해 반복문을 탈출했습니다

In [ ]:
# 반복문 과제
# 문제1
i = 0
sum = 0

num1, num2, num3 = 0,0,0

num1 = int(input('시작값을 입력하세요 : '))
num2 = int(input('끝값을 입력하세요 : '))
num3 = int(input('증가값을 입력하세요 : '))

for i in range(num1,num2+1,num3):
  sum = sum + i

print('%d에서 %d까지 %d씩 증가시킨 값의 합 : %d' %(num1,num2,num3,sum))

시작값을 입력하세요 : 1
끝값을 입력하세요 : 5
증가값을 입력하세요 : 1
1에서 5까지 1씩 증가시킨 값의 합 : 15

In [ ]:
i = 0
sum = 0

num1, num2, num3 = 0,0,0

num1 = int(input('시작값을 입력하세요 : '))
num2 = int(input('끝값을 입력하세요 : '))
num3 = int(input('증가값을 입력하세요 : '))

while i < num2 + 1:
  sum = sum + i
  i = i + num3

print(sum)

시작값을 입력하세요 : 1
끝값을 입력하세요 : 5
증가값을 입력하세요 : 1
15

In [ ]:
sum, i = 0,0

while i < 101:
  i = i + 1
  sum = sum + i

  if sum >= 1000:
    break

print('1~100의 합계를 최초로 1000이 넘게 하는 숫자 : %d' % i)

1~100의 합계를 최초로 1000이 넘게 하는 숫자 : 45

In [ ]:
a = [10, 20, 30, 40, 50]
a[-1:-3]

[]